@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --midnight-black: #010203;
  --blood-red: #800000;
  --steel-gray: #708090;
  --dusty-rose: #b38b6d;
  --pale-lavender: #e6e6fa;
}

body {
  color: var(--midnight-black);
  background-color: var(--pale-lavender);
}